.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 800px;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: var(--input-transition);
}

.label:hover {
  transition: var(--input-transition);
  color: var(--input-focus-border)
}

.row {
  flex-direction: row;
  gap: 10px;
}

.column {
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit {
  align-self: center;
  width: 120px;
  height: 35px;
  border-radius: 10px;
  outline: none;
  transition: var(--input-transition);
  border: 2px solid var(--input-border);
}

.submit:hover {
  cursor: pointer;
  transition: var(--input-transition);
  border-color: var(--input-focus-border);
}
