:root {
  --bg-header: #dcb79d;
  --bg-footer: #d5b86f;
  --bg-main: #c8c5cb;
  --bg-input-main: #dcb79d;
  --bg-card: #a5a1a9;
  --bg-btn-pagination: #b08c8c;
  --bg-btn-pagination-hover: #fcc5c5;
  --bg-btn-pagination-disabled: #ababab;
  --bg-btn-pagination-active: #ec9c9c;

  --shadow: #3636364d;
  --black: #000;

  --border-btn-pagination: #a834c3;
  --loader-color: #d5b86f;
  --btn-search-color: #b33636;
  --btn-search-color-hover: #ce3e3e;
  --btn-error-color: #000;
  --btn-error-bg: #e01414;
  --btn-error-hover: #ff0404;
  --white-color-text: #ead8d8;
  --message-color: #ac2828;

  --border-input-main-color: #b33636;

  --main-width-page: 1280px;

  --main-padding-page: 0 40px;
  --main-padding-page-tb: 40px 0;

  --btn-main-transition: all 0.3s ease;

  --index-loader: 5;
}
